@import url('../base/button.css');
.a-button {
  border-radius: 0.2em;
  color: var(--a-color, white);
  background: var(--a-background, var(--a-c-theme-700));
  border: 1px solid var(--a-c-theme-600);
  padding: 0 1em;
  transition: all 0.1s ease;
  height: 2.25em;

  &:hover {
    background: var(--a-c-theme-500);
  }

  &:active {
    outline: 0 solid var(--a-c-theme-200);
  }
  &:focus {
    outline: 3px solid var(--a-c-theme-200);
  }

  &:not(.a-text):not(.a-outlined) {
    background: var(--a-c-theme-600);
    color: var(--a-c-theme-50);
    fill: var(--a-c-theme-50);
  }
  &:not(.a-text):not(.a-outlined):hover {
    background: var(--a-c-theme-500);
    border-color: var(--a-c-theme-500);
    color: var(--a-c-theme-50);
  }
  &.a-text,
  &.a-outlined {
    background: transparent;
    color: var(--a-c-theme-600);
    fill: var(--a-c-theme-600);
  }
  &.a-text:hover,
  &.a-outlined:hover {
    background: var(--a-c-theme-50);
  }

  &.a-raised {
    box-shadow: 0 3px 1px -2px var(--a-c-gray-500), 0 2px 2px 0 var(--a-c-gray-400),
      0 1px 5px 0 var(--a-c-gray-300);
  }
  &.a-raised.a-text,
  &.a-raised.a-outlined {
    box-shadow: 0 3px 1px -2px var(--a-c-gray-400), 0 2px 2px 0 var(--a-c-gray-300),
      0 1px 5px 0 var(--a-c-gray-200);
  }

  &.a-icon {
    fill: var(--a-c-theme-600);
    padding: 1em;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
