@import url('../base/inputfile.css');
.a-file {
  border: 2px dashed var(--a-c-gray-400);
  border-spacing: 16px;
  border-radius: 4px;
  padding: 8px;

  &:hover {
    border-color: var(--a-c-gray-500);
  }

  & .a-file-label {
    color: var(--a-c-gray-600);
    cursor: pointer;
  }

  & .a-file-upload-icon {
    color: var(--a-c-gray-400);
    font-size: 48px;
  }

  & .a-file-hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    opacity: 0;
    transition: all 0.2s;
    padding: 9px 2px;
  }

  & .a-file-hover-forced {
    opacity: 1;
    background: none;
    color: var(--a-c-gray-400);
  }

  & .a-file-hover:hover {
    opacity: 1;
  }

  & .a-file-hover-header,
  & .a-file-hover-footer {
    padding: 0 5px;
  }

  & .a-file-close:hover {
    color: var(--a-c-red-200);
  }

  & .a-file-common-preview {
    padding: 0.5em 1em;
    background-color: var(--a-c-gray-50);
    font-size: 1em;
    color: var(--a-c-gray-600);
  }

  & .a-fc-left {
    /* primary/primary-400 */

    border: 2px solid var(--a-c-primary-400);
    border-radius: 4px;
    padding: 33px;
    font-weight: 700;
    font-size: 1em;
    color: var(--a-c-primary-400);
    text-transform: uppercase;
  }

  & .a-fc-middle {
    padding: 0 11px;
  }

  & .a-cf-size {
    color: var(--a-c-gray-400);
  }

  & .a-file-thumbnail {
    font-size: 55px;
    color: var(--a-c-gray-400);
  }

  & .a-file-mf-item {
    background: var(--a-c-gray-50);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
  }

  & .a-file-mf-name {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.125em;
    color: var(--a-c-gray-600);
    margin-left: 1rem;
  }
  & .a-file-mf-size {
    color: var(--a-c-gray-400);
    margin-top: 0.25rem;
  }

  & .a-file-remove {
    font-size: 17px;
    color: var(--a-c-gray-300);
    cursor: pointer;
  }

  & .a-file-remove:hover {
    color: var(--a-c-red-300);
  }

  & .a-file-unknown-file {
    border: 1px solid var(--a-c-primary-300);
    border-radius: 4px;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.125em;
    color: var(--a-c-primary-400);
    text-transform: uppercase;
    background-color: var(--a-c-primary-50);
  }

  & .a-icon-upload {
    margin-bottom: 0.25em;
  }

  & .a-file-addmore {
    padding: 0 0.5em;
  }
}
