@import url('../base/select.css');
.a-select {
  & .a-select-dropdown {
    background-color: #fff;
    /* box-shadow: 0px 9px 8px 3px #ebebeb; */
    /* border: 1px solid rgb(199, 199, 199); */
    padding-top: 0;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    /* transition: all 0.3s linear; */
  }

  & .a-select-dropdown-top {
    box-shadow: 0px -9px 8px 3px #ebebeb;
  }

  & .a-select-dropdown-fixed {
    /* transition: all 0.3s; */
  }

  & .a-select-filter {
    padding: 0.5em 1em;
    /* box-shadow: 0px 2px 2px 0px #e5e5e5; */
    border-bottom: 1px solid rgb(233, 233, 233);
  }

  & .a-select-filter-input {
    border: none;
    color: var(--a-c-gray-600);
    font-size: 1em;
    width: 0;
  }

  & .a-select-option {
    padding: 0.5em 1em;
    color: var(--a-c-gray-600);
    font-size: 1em;
  }

  & .a-select-option-active,
  & .a-select-option-active:hover {
    background-color: var(--a-c-theme-100);
  }

  & .a-select-option-hovered {
    background-color: var(--a-c-gray-100);
  }

  & .a-select-arrow {
    border-style: solid;
    border-width: 8px 7.5px 0 7.5px;
    border-color: #8f8f8f transparent transparent transparent;
  }

  & .a-select-filter-input,
  & .a-select-filter-input:focus {
    padding: 4px 7px;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    border: none;
  }

  & .a-select-search-icon {
    color: var(--a-c-gray-600);
  }

  & .a-select-option-grouped {
    padding-left: 2em;
  }

  & .a-select-option-grouped-title,
  & .a-select-option-grouped-title:hover {
    background: #fff;
    color: var(--a-c-gray-400);
  }
}
